[submodule "Test/C_unit_test/Unity"]
	path = Test/C_unit_test/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "Test/CPP_MULTIPLE_GOOGLE_TEST/googletest"]
	path = Test/CPP_MULTIPLE_GOOGLE_TEST/googletest
	url = https://github.com/google/googletest.git
